body{
    background-color: #221E13;
    background-image: url("https://cdn.glitch.global/6962e794-c18a-440f-b3b6-dc68fc1bddab/mall.jpg?v=1693789334145");
    background-repeat: no-repeat;
    background-position: center;
    min-height:100vh;
}
h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    background-color: rgba(255, 255, 255, 0.736);
}

.heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box{
    background-color:#B79177;
    width: 200px;
    height: 300px;
    margin-top: 100px;
    border: 3px solid black;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3, h4{
    color: bisque;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.open{
    font-size:40px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

@media all and(max-wdith:800px){
    h1{
        font-size: 35px;
    }
}

@media all and(max-width:500px){
    h1{
        font-size: 30px;
    }
}
